<html>
    <head>
        <style>
            h1{
                text-align : center;
            }
            a {
                display: inline-block;
                background-color: blue;
                color: white;
                border-radius: px;
                border: 1px;
            }
        </style>
    </head>
    <body>
        <h1>
            <%= @question.question %>
        </h1>
        <a href ="/answer?id=<%= @question.id %>">Answer</a>
    </body>
</html>