<img src="/users.png" alt="Contact form" style="width:150px;height:150px;>
<br>
<br>
<form action="/contacts" method="post">
    <div class="form-group">
        <input type="text" name="first_name" placeholder="FIRST NAME">
        <input type="text" name="last_name" placeholder="LAST NAME">
    </div>    
    <div class="form-group">
        <input type="text" name="phone" placeholder="PHONE">
    </div>
    <div class="form-group">
        <input type="text" name="email" placeholder="EMAIL">
    </div>
    <div class="form-group">
        <input type="text" name="address" placeholder="ADDRESS">
    </div>
    <div class="form-group">
        <input type="text" name="city" placeholder="CITY">
    </div>
    <div class="form-group">
        <input type="text" name="state" placeholder="STATE">
    </div>
    <div class="form-group">
        <input type="text" name="zip" placeholder="ZIP">
    </div>
    <div class="form-group">
        <input type="submit" value="save">
    </div>
</form>