<img src="/new.png" alt="Add Group" style="width:100px;height:100px;border:1;">
<h2>New Product</h2>

<table style="width:30%" align="left" bgcolor="#f0f0f5">
<td style="text-align: center;">
<form action="/products" method="post">
    <div class="form-group">
        <input type="text" name="bar_code" placeholder="Barcode">
    </div>    
    <br>
    <div class="form-group">
        <input type="text" name="description" placeholder="Description">
    </div>
    <br>
    <div class="form-group">
        <input type="text" name="price" placeholder="Price $.$$">
    </div>    
    <br>
    <div>
        <select name="group_id">
            <% @groups.each do |group| %>
                <option value="<%= group.id%>"><%= group.name %></option>
            <% end %>
        </select>
    </div>
    <br>
    <div>
       <input type="submit" value="Sumbit">
       <input type="reset" value="Reset">
    </div>    

</td>
</table>
    